@keyframes cardLoading {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes prevNextLoading {
	0%, 75% {
		transform: scale(0.1);
		opacity: 0;
	}
	90% {
		transform: scale(1.8);
	}
	100% {
	  transform: scale(1.0);
		opacity: 1.0;
	}
}

@keyframes pokemonAnimation {
  0%, 20%, 80%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
		transform: translateY(60px) scale(1.67);
  }
}

.slider {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 85px;
}

.items {
	display: flex;
	justify-content: center;
	z-index: 5;
	animation: cardLoading 2.5s ease-in-out;
	overscroll-behavior-x: contain;
	touch-action: pan-y;
}

.item {
	position: absolute;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 250px;
	height: 338px;
	padding: 10px 15px;
	border: 5px solid;
	border-radius: 20px;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 10px 30px 4px;
	transition: transform 0.3s ease, z-index 0.2s ease, filter 0.2s ease, opacity 0.2s ease, visibility 0.2s ease;
	transform-origin: center;
	opacity: 0;
	visibility: hidden;
	
}

.item.active,
.item.visible {
  opacity: 1;
  visibility: visible;
  transition: transform 0.2s ease-in-out, z-index 0.2s ease-in-out, filter 0.3s ease-in-out, opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
	cursor: grab;
}

.item.active:active, .item.visible:active {
	cursor: grabbing;
}

.top-info {
	display: flex;
	justify-content: space-between;
	width: 100%;
	user-select: none;
}

.top-info p {
	width: 60px;
	height: fit-content;
	padding: 3px 0;
	text-align: center;
	font-size: medium;
	border-bottom: silver 1px solid;
}

.top-info p span {
	font-size: x-small;
	font-weight: bold;
}

#number {
	border-radius: 20px 0;
}

#hp {
	border-radius: 0 20px;
}

.names h3,h4 {
	text-align: center;
	user-select: none;
}

.jap-name {
	font-size: small;
	user-select: none;
}

.pokebox {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 150px;
	user-select: none;
}

.pokeimg {
  max-width: 250px;
  max-height: 150px;
  transition: 0.5s;
  transform: translateY(60px) scale(1.7);
  z-index: 10;
  -webkit-user-drag: none;
}

.types {
  display: flex;
  justify-content: center;
  margin: 10px 0 0 0;
  gap: 20px;
}

.type {
	width: 60px;
  padding: 2px 0;
  border-radius: 20px;
  color: rgb(255, 255, 255);
  font-size: x-small;
	text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}

.pokeinfo {
	margin-top: 110px;
}

.fade {
	transition: opacity 1s ease-in-out;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}

#prev, #next {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 0px;
	background: rgba(255, 255, 255, 0);
	border: none;
	outline: none;
	border-radius: 5px;
	padding: 0px;
	cursor: pointer;
	color: rgb(0, 0, 0);
	font-size: x-large;
	user-select: none;
	z-index: 90;
	transition: 0.5s;
	animation: prevNextLoading 3s linear;
}

.buttons {
	position: fixed;
	display: flex;
	align-content: center;
	gap: 250px;
}

@media only screen and (min-width: 600px) {
	.pokeinfo {
		display: flex;
		justify-content: center;
		gap: 50px;
	}
}

@media only screen and (min-width: 1025px) {
	#next:hover {
		transform: translateX(5px);
	}
	#prev:hover {
		transform: translateX(-5px);
	} 
}
