.carousel-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: center;
	width: 100%;
	margin-top: 100px;
	transition: 0.3s;
}

.blurred {
	filter: blur(10px);
	opacity: 0.3;
	transition: filter 0.3s ease opacity 0.3s ease;
	pointer-events: none; /* Disable interactions */
}

.pokemon-count {
	position: fixed;
	left: 0;
	right: 0;
	margin-bottom: 5px;
	text-align: center;
}
