.carousel-container {
	display: flex;
	flex-direction: column;
	justify-items: center;
	align-content: center;
	margin-top: 85px;
	transition: 0.3s;
}

.blurred {
	filter: blur(10px);
	opacity: 0.3;
	transition: filter 0.3s ease opacity 0.3s ease;
	pointer-events: none; /* Disable interactions */
}

.pokemon-count {
	position: fixed;
	left: 0;
	right: 0;
	margin-bottom: 5px;
	text-align: center;
	cursor: default;
}

.loading-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	position: absolute;
	top: 50vh;
	transition: 1s ease-out;
}

.loading-bar-container {
	width: 30%;
	height: 10px;
	background: #ffffff;
	border: solid 2px rgba(55, 55, 55, 0.8);
	border-radius: 5px;
	margin: 16px 0 2px 0;
	overflow: hidden;
}

.loading-bar {
	height: 100%;
	background: linear-gradient(90deg, rgb(255, 146, 146), rgb(255, 69, 69));
	transition: width 0.3s ease-out;
}

.loading-text {
	font-size: small;
	opacity: 0.8;
}
