@keyframes rock {
  0% {
    transform: none;
  }
  20% {
    transform: rotate(-5deg) translateX(-2px);
  }
  50% {
    transform: rotate(10deg) translateX(5px);
  }
  100% {
    transform: none;
  }
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
  
.spinner {
	width: 60px;
	height: 60px;
	animation: rock 1s infinite ease-in-out;
}
