.type-buttons-bar {
  position: fixed;
  top: 50px;
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding: 10px 10px 0 10px;
  z-index: 99;
  opacity: 0;
  transform: translateY(-30px);
  transition: all 2s ease-in-out;
}

.type-buttons-bar::-webkit-scrollbar {
  display: none;
}

.type-buttons-bar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.type-buttons-bar.show {
  opacity: 1.0;
  transform: translateY(0);
}

.type-button {
  flex: 0 0 60px;
  width: 60px;
  margin-right: 8px;
  padding: 4px 0;
  border-radius: 20px;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  font-size: x-small;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
  transition: 0.5s;
}

.type-buttons-bar .type-button:focus-within {
  transform: scale(1.1) translateY(-2px);
  opacity: 1;
}

.type-buttons-bar .type-button:hover {
  transform: scale(1.1) translateY(-2px);
  opacity: 1;
}

.type-button:last-child {
  margin-right: 0;
}

@media only screen and (min-width: 1025px) {
  .type-buttons-bar:hover .type-button {
    opacity: 0.3;
  }
  .type-buttons-bar .type-button:hover {
    transform: scale(1.1) translateY(-2px);
    opacity: 1;
  }
}

@media only screen and (min-width: 1400px) {
	.type-buttons-bar {
    justify-content: space-between;
	}
}
