* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
}

.app-container {
	display: flex;
	flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}
