* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  max-width: 100%;
  overflow-x: hidden;
  touch-action: manipulation;
}

.app-container {
	display: flex;
	flex-direction: column;
  max-width: 100%;
}

.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}
