* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 200vh;
  overflow-x: hidden;
  touch-action: manipulation;
}

button {
  color: black;
  -webkit-appearance: none; /* Remove default mobile browser styling (iOS and Android) */
  -moz-appearance: none; /* Remove default mobile browser styling for Firefox */
  appearance: none; /* Ensure the appearance is consistent across all browsers */
}

.app-container {
	display: flex;
	flex-direction: column;
}

.blurred {
  filter: blur(5px);
  transition: filter 0.3s ease;
}

@media only screen and (min-width: 1025px) {
  html, body {
    height: 100%;
  }
}
