* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100dvh;
}

html {
  overflow-x: hidden;
  overscroll-behavior-x: none;
  touch-action: manipulation;
}

body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

#root {
  height: 100%;
}

button {
  color: black;
  -webkit-appearance: none; /* Remove default mobile browser styling (iOS and Android) */
  -moz-appearance: none; /* Remove default mobile browser styling for Firefox */
  appearance: none; /* Ensure the appearance is consistent across all browsers */
}
